{% extends 'home/base.html' %}

{% block content %}

{{ form.media }}

<h1 id="title">title</h1>

<div class="w3-theme-l5">
    <form action="" method="post">
        <p class="title">{{ form.title }}</p>
        {{ form.body }}
    </form>
</div>
<div class="w3-container">
    <p>
        {{ post.youtube | safe}}
    </p>

</div>
<p>Author : {{ post.author }}</p>

<p>
    {% if user.is_authenticated and request.user == post.author %}
        <p><a href="{% url 'blog:update' post.id %}">Edit</a></p>

    {% endif %}
</p>
    <script>
        var editable_elements = document.querySelectorAll("[contenteditable=true]");  
        editable_elements.forEach(function(element){
            element.contentEditable = 'false';
        })

        document.querySelector(".ql-toolbar").style.display = 'none';
        document.querySelector(".ql-container").style.border = 'none';

        let title = document.querySelector('#id_title').value;
        document.querySelector('#title').innerHTML = title;
        document.querySelector('.title').style.display = 'none';
    </script>
{% endblock %}